@font-face {
  font-family: 'HallymMjo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymMjo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HallymMjo';
  src: url('@/assets/HallymMjo-Bold.otf') format('woff2');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('@/assets/GmarketSansBold.otf') format('woff2');
  font-weight: 700;
  font-style: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {padding: 0; margin: 0; box-sizing: border-box;}


body {
  scroll-behavior: smooth;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'HallymMjo',
    -apple-system,
    Roboto,
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {border: 0; background-color: transparent; cursor: pointer;}
.sound-only {position: absolute; left: -9999em; top: -9999em;}
.clearfix:after {content: ''; display: block; clear: both;}
ol, ul {list-style-type: none;}
a {text-decoration: none; color: #292929 !important;}
.cutxt {
  white-space: pre-line;
}
.bold {
  font-weight: 700;
}