*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: none;
}
* {padding: 0; margin: 0; box-sizing: border-box;}

body {
  cursor: none;
  scroll-behavior: smooth;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Pretendard',
    -apple-system,
    Roboto,
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  word-break: keep-all;
}
button {border: 0; background-color: transparent; cursor: pointer; cursor: none;}
.sound-only {position: absolute; left: -9999em; top: -9999em;}
.clearfix:after {content: ''; display: block; clear: both;}
ol, ul {list-style-type: none;}
a {text-decoration: none; color: #292929 !important; cursor: none;}
.cutxt {
  white-space: pre-line;
}
.bold {
  font-weight: 700;
}
.bold-20 {
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 880px) {
  body, button, a, *, *::before, *::after{
    cursor: default;
  }
}