
@font-face {
  font-family: 'GmarketSans';
  src: url('@/assets/font/GmarketSansLight.woff') format('woff');
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: 'GMarketSans';
  src: url('@/assets/font/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'GMarketSans';
  src: url('@/assets/font/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/node_modules/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
}
